h2 {
  text-align: center;
  margin-bottom: 20px;
}

.add-item-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #218838;
  }
}

.category-section {
  margin-top: 20px;
  text-align: center; // Center align category names

  h3 {
    margin-top: 20px;
  }

  .items-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

    th,
    td {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: left;
      width: 25%; // Ensure all columns have the same width
    }

    th {
      background-color: #343a40; // Dark background for thead
      color: white;
    }

    td {
      background-color: #f8f9fa; // Different color for td
    }
  }
}

.action-button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &.edit-button {
    background-color: #ffc107;
    color: white;

    &:hover {
      background-color: #e0a800;
    }
  }

  &.delete-button {
    background-color: #dc3545;
    color: white;
    // width: 50%;
    &:hover {
      background-color: #c82333;
    }
  }
}
