.item-list-container {
  text-align: center;

  .categories {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;

    button {
      padding: 10px 20px;
      border: none;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .items {
    .item {
      margin: 15px;
      padding: 15px;
      border: 1px solid #ddd;
      background-color: #fff;
      border-radius: 5px;
      display: inline-block;
      width: 30%;

      h4 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 10px;
      }

      button {
        padding: 5px 10px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
          background-color: #0056b3;
        }
      }
    }

    h3 {
      margin-bottom: 20px;
    }

    button {
      margin-bottom: 20px;
      padding: 10px 20px;
      border: none;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
